<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>柠檬社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="layui/layui.js"></script>
    <script src="js/index.js"></script>


</head>
<body class="body">
<div th:insert="navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现 </h2>
            <hr>
            <div class="media" th:each="question:${questionDtoList}">
                <div class="media-left">
                    <a href="#">
                        <img th:src="${question.user.avatarUrl}" class="media-object img-circle picset">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.user.name}"></span>|发起了问题|
                    <span th:text="${question.likeCount}"></span>个<span> <i class="fa fa-thumbs-up"></i></span>
                    <span th:text="${question.commentCount}"></span>个回复|
                    <span th:text="${question.viewCount}"></span>个浏览
                    <span class="pull-right" th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd')}"></span>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pager">
                    <li id="first"><a href="/?page=1">First</a></li>
                    <li id="previous" th:if="${currentPage}==${lastPage}"><a>Previous</a></li>
                    <li id="currentPage"><span th:text="${currentPage}"></span></li>
                    /
                    <li id="lastPage"><span th:text="${lastPage}"></span></li>
                    <li id="next" th:if="${currentPage}!=${lastPage}"><a>Next</a></li>
                    <li id="last"><a th:href="@{'/?page='+${lastPage}}">Last</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <h3 style="margin-top: 10px">热门话题</h3>
            <hr>
            <ul th:each="question:${questionDtoList}">
                <li><a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a></li>
            </ul>
            <hr>
            <h6>发帖达人</h6>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <table>
                        <tr >
                            <td   th:each="user:${users}"><img  style="margin-right: 8px" class="media-object img-circle picset" th:src="${user.avatarUrl}"></td>
                        </tr>
                    </table>
                </div>

        </div>
    </div>
</div>

</body>
</html>